.catalog {
    margin-top: 120px;
    max-width: 1280px;
    margin: 0 auto;
  .catalog_inner {
    .catalog_title {
      h1 {
        font-weight: 700;
        font-size: 36px;
        text-align: center;

        color: #30529f;
      }
    }
    .catalog_wrap {
        margin-top: 70px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 100px;
      column-gap: 60px;
      
    }
  }
}
