.calculator {
  max-width: 1280px;
  margin: 0 auto;
  .calculator_inner {
    margin-top: 200px;
    .calculator_wrap {
      display: flex;
      .calculator_left {
        width: 50%;
        .calculator_title {
          h1 {
            font-weight: 700;
            font-size: 48px;
            color: #30529f;
            text-align: left;
          }
        }
        .calculator_word {
          max-width: 440px;
          margin-bottom: 20px;
          p {
            text-align: left;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #212f50;
          }
        }
        .react-tabs__tab-list {
          padding: 0px;
          margin: 0px;
          display: grid;
          grid-template-columns: 100px 100px 100px 100px;
          margin-bottom: 50px;
          .react-tabs__tab {
            list-style: none;
            cursor: pointer;
            outline: none;
            width: 62px;
            height: 62px;

            display: flex;
            justify-content: center;
            align-items: center;
          }
          .react-tabs__tab--selected {
            background: url("../assets/iconBg.png");
            background-repeat: no-repeat;
            background-size: 101%;
            background-position-x: -2px;
            transition: 0.2s;

            svg {
              path {
                fill: #f9f9fc;
                transition: 0.2s;
              }
            }
          }
        }
        .calculator_span_content {
          .calculator_span_header {
            display: flex;
            align-items: center;
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 48px;

            color: #30529f;
           
            h2 {
              font-weight: inherit;
              font-size: inherit;
              margin: 0;
              span {
                outline: none;
                user-select: none;
            font-size: 64px;
                margin-right: 15px;
                border: none;
                color: #c9d1e6;
              }
            }
          }
          .calculator_span_bottom {
            h1 {
              font-weight: 700;
              font-size: 64px;
              line-height: 48px;
              text-align: left;
              color: #30529f;
            }
          }
        }
      }

      .calculator_right {
        width: 50%;
        position: relative;
      }
    }
  }
}
